@import 'home';
@import 'nav';
@import 'a-kin';
@import 'ribbit';
@import 'contact';
@import 'responsive';
@import 'theme';

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    //font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

    .dark {
        background-color: black;
    }
}

html {
    scroll-behavior: smooth
}

a:hover {
    text-decoration: none;
}

// .fab,
// .far,
// .fas {
//    // font-size: 21px;
//     // color: #666;
// }

footer {
    padding: 5px;

    .container-fluid {
        padding-top: 0;
    }

    .row {
        align-items: center;
    }

    * {
        color: #898989;
    }
}

.social * {
    padding: 0 5px;
    font-size: 16px;
}